@highlight-color:rgb(0, 0, 128);
@darkGreen: rgb(0, 200, 0);
@lightGreen: rgb(200, 255, 200);
@darkRed: rgb(200, 0, 0);
@lightRed: rgb(255, 200,200);

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 12pt;
    line-height: 14pt;
    max-width: 1280px;
    margin: 5px auto;
}

h1
{
    color : @highlight-color;
    font-style: italic;
    border-bottom: 3px solid @highlight-color;
    padding-bottom: 1rem;
}

input
{
    font-size : 12pt;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

input[type=file]
{

}

input[type=submit]
{
    width:auto;
    padding: 0.5em;

    transition: all 0.5s ease;

    &:hover
    {
        box-shadow: 5px 5px #ddd;
        transform: translate(-2px,-2px);

        cursor: pointer;
    }
}

table
{
    border-collapse: collapse;
    line-height: 14pt;
}

tr
{
    line-height: 24pt;
    padding: 5px 5px;

    &.valid
    {
        td{
            border-bottom: 3px solid @darkGreen;

        }
    }

    &.invalid
    {
        td{
            border-bottom: 3px solid @darkRed;
        }
    }
}

td
{
    padding: 0.5em;
    vertical-align: top;

    &.valid
    {
        background-color: #EEFFEE;
    }

    &.invalid
    {
        background-color: #FFEEEE;
    }
}

.message
{
    padding: 1rem;
    border: 1px solid blue;
}

.success
{
    border-color: @darkGreen;
    color:@darkGreen;
    background: @lightGreen;
}

.failure, .error
{
    border-color: @darkRed;
    color:@darkRed;
    background: @lightRed;
}

@import "./fileinput.less";
