<!DOCTYPE html>
<html>
    <head>
        <title>Jus Demo</title>
        <!-- build:css stlyes/main-min.css-->
        <link type="text/css" rel="stylesheet" href="styles/main.css" />
        <!-- /build -->
    </head>
    <body>
        <h1>MLST.net Uploader</h1>
        {% block content %}

        {% endblock %}
        <script src="http://use.edgefonts.net/droid-sans:n4,n7:all.js"></script>
        <script type="text/javascript" src="scripts/JusUploader.js" /></script>
        <script type="text/javascript" src="scripts/main.js" /></script>
    </body>
</html>
