<tr class="{{result}}">
    <form action="./submit" method="post">
    {% for field in record %}

        {% if field.success %}
            <td class="valid">{{field.value}}<input type="hidden" value="{{field.value}}" /></td>
        {% else %}
            <td class="invalid">
                <input type="text" value="{{field.value}}" />
                {% for msg in field.messages %}
                    <p class="validation_error">{{msg}}</p>
                {% endfor %}
            </td>
        {% endif %}

    {% endfor %}
        <td>
            <input type="submit" value="Submit" name="submit" />
        </td>
    </form>
</tr>
