<!DOCTYPE html>
<html>
    <head>
        <title>MLST.net Bulk Uploader</title>
        <link type="text/css" rel="stylesheet" href="/styles/main-pfx.css" />
    </head>
    <body>
        <h1>Jus</h1>

        <p class="message {% if success %}success{% else %}failure{% endif %}">{{message}}</p>

        <table>
            <thead>
                <tr>
                    {% for fld in fields %}
                        <th>{{ fld }}</th>
                    {% endfor %}
                </tr>
            </thead>
